<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ledong.lib.minigame">

    <application
        android:supportsRtl="true"
         >
        <activity
            android:name="com.ledong.lib.minigame.GameCenterActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:configChanges="screenSize|keyboardHidden|orientation"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:process=":leto"/>
        <activity
            android:name="com.ledong.lib.minigame.GameCenterH5Activity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:configChanges="screenSize|keyboardHidden|orientation"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:process=":leto"/>
        <activity
            android:name="com.ledong.lib.minigame.SingleGameListActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:configChanges="screenSize|keyboardHidden|orientation"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:process=":leto"/>
        <activity
            android:name="com.ledong.lib.minigame.FavoriteActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:configChanges="screenSize|keyboardHidden|orientation"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:process=":leto"/>
        <activity
            android:name="com.ledong.lib.minigame.AllRankingActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:configChanges="screenSize|keyboardHidden|orientation"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:process=":leto"/>
        <activity
            android:name="com.ledong.lib.minigame.AllCategoryActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:configChanges="screenSize|keyboardHidden|orientation"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:process=":leto"/>
    </application>
</manifest>
